transformers
torch
datasets
spacy==3.8.0
streamlit
sentencepiece
reportlab
pdfplumber
torchvision
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl